@model TipoCuenta

@{
    ViewData["Title"] = "Editar Tipo Cuenta";
}

<h1>Editar Tipo cuenta: @Model.Nombre</h1>
<h5>
    El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejemplos: Prestamos, tarjetas de credito, etc.
</h5>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Editar">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
