#reordenable tr {
    cursor: move;
}

.activo {
    color: green !important;
}

.pasivo {
    color: red !important;
}

.total {
    color: blue;
}

.img-reporte {
    width: 200px;
    height: 200px;
}
